* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .start-screen {
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .display {
            height: 100px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
        }
    }
}