* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hide {
        display: none !important;
    }

    .start-screen {
        height: 70%;
        width: 70%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > * {
            margin-top: 30px;
        }

        .selection-buttons {
            display: flex;
            align-items: center;
            flex-direction: column;

            button {
                margin-top: 10px;
                height: 50px;
                width: 150px;
                font-size: 24px;
                border: none;
                color: white;
                cursor: pointer;
                background-color: grey;

                &:hover {
                    background-color: green;
                }
            }

            .active {
                background-color: green;
            }
        }

        .set-timer {
            width: 70%;
            display: flex;
            justify-content: space-between;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            select {
                height: 40px;
                width: 60px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .display {
            height: 100px;
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
        }

        .stopwatch-buttons {
            width: 200px;
            display: flex;
            justify-content: space-between;
            
            button {
                padding: 10px;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: none;
                font-size: 18px;
                color: white;
            }

            .stop-btn {
                background-color: grey;
                opacity: 0.3;
            }

            .start-btn {
                background-color: green;
                cursor: pointer;
            }
        }
        .stopwatch-buttons {
            width: 200px;
            display: flex;
            justify-content: space-between;
            
            button {
                padding: 10px;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: none;
                font-size: 18px;
                color: white;
            }

            .stop-btn {
                background-color: grey;
                opacity: 0.3;
            }

            .start-btn {
                background-color: green;
                cursor: pointer;
            }
        }
        
        .timer-buttons {
            width: 200px;
            display: flex;
            justify-content: space-between;
            
            button {
                padding: 10px;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: none;
                font-size: 18px;
                color: white;
            }

            .stop-btn {
                background-color: grey;
                opacity: 0.3;
            }

            .start-btn {
                background-color: green;
                cursor: pointer;
            }
        }
    }
}