* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .start-screen {
        height: 70%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > * {
            margin-top: 30px;
        }

        .set-timer {
            width: 70%;
            display: flex;
            justify-content: space-between;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            select {
                height: 40px;
                width: 60px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .display {
            height: 100px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
        }

        .buttons {
            width: 200px;
            display: flex;
            justify-content: space-between;
            
            button {
                padding: 10px;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                font-size: 20px;
                border: 2px solid black;
                color: white;
                cursor: pointer;
            }

            .stop-btn {
                background-color: red;
            }

            .start-btn {
                background-color: green;
            }
        }
    }
}